header{

    background:#979797
}

nav li { 
    margin: 0 0 0 25px;
    display:inline;
}

nav a{
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;

}

nav{
    position: absolute;
    top: 0%;
    right: 0%;
}

.produtos li {
    display: inline-block;
    text-align: center;


    }

    .produtos{
        width: 940px;
        margin: 0 auto;
    }



